.EnterRoomCard {
  padding: 2rem;
  border-radius: 8px;
  background-color: rgb(234, 239, 241);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.EnterRoomCard form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.EnterRoomCard .ant-input {
  margin-bottom: 0.1rem;
}

.EnterRoomCard .ant-btn {
  background-color: skyblue;
}